.container {
  position: relative;
  background: inherit;
  overflow: hidden;
  width: auto;
  height: 25rem;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.container::before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -20px;
  z-index: -1;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}

@media screen and (max-width:600px) {
  .container{
    height: 21rem;
  }
}